.contactContainer{
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContact{
  width: 10vh;
  border-radius: 2vh;
  margin: 2vh;
}
