.headerContainer{
  top: 0;
  z-index: 15;
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.headerContainer a{
  text-decoration: none;
  font-weight: bold;
  font-size: 4vw;;
  color: #EFF0EB;
}

.headerContainer a:hover{
  color: #173657;
}
