.trombiContainer{
  min-height: 100vh;
  background-color: #173657;
}

.headerBackground{
  position: fixed;
  top:0;
  z-index: 10;
  height: 20vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 600px){
  .headerBackground{
    position: fixed;
    top:0;
    z-index: 10;
    height: 10vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
